body, html {
  height: 100%;
}
.background-image {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  
  background: rgba(0, 0, 0, 0.7);
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-group-item {
  line-height: 2.5;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  background: rgba(46, 46, 46, 0.3) !important;
}


.nav-tabs {
  margin-bottom: 0;
}

.double-line {
  line-height: 2;
}

.line-break {
  white-space: pre-line;
}

.form-input {
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
}

#username {
  padding-right: 10px;
}

::placeholder {
  color: rgb(160, 160, 160);
}

.nav-link{
  color: rgb(87, 87, 87) !important;
}

.nav-link.active {
  color: white !important;
  background: rgba(46, 46, 46, 0.3) !important;
  border-bottom: none; 
}

