.list-group-item {
  line-height: 2.5;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
}

.nav-tabs {
  margin-bottom: 0;
}